/*----------------------------
         font styles
-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------
         font style end
-----------------------------*/

/*------------
         section
      ---------------*/

.website-info {
    padding-left: 45px;
    font-size: 1em;
    color: rgb(139, 138, 138);
}

.container {
    padding: 35px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px 20px;

}

.articel {
    padding: 35px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px 20px;
}

.product-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    color: rgb(82, 82, 82);
    padding-left: 35px;
}

.titel {
    font-size: 4em;
    margin: 10px;
}

.product {
    padding-bottom: 10%;
}

.camera {
    padding-left: 140px;
    padding-top: 20px;
}

.product-detail {
    font-weight: 700;
    font-size: 1em;
    padding-left: 10px;
}

.brands {
    display: flex;
    align-items: center;
    width: 5px;
    padding: 10px;
    margin-left: 26%;
    border-left: 40px;
}

.logo {
    padding: 35px;
    display: flexbox;
    flex-wrap: wrap;
}

.section-titel {
    text-align: center;
    color: rgb(167, 167, 167);
    padding-bottom: 20px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 80px;
}

.collection-banner {
    box-shadow: 10px 10px 50px rgb(100, 94, 94);
    padding: 20px;
    padding-left: 25px;
    border-radius: 15px;
    margin: 5%;
}